---
import Layout from '../layouts/Layout.astro';
import CardList from '../components/CardList.vue';
import type { Faq } from '../interfaces/Faq';

import { getCollection } from 'astro:content';

const faqCollection = await getCollection('faq');

// const components = await Promise.all(faqCollection.map((faq) => faq.render()));

const faqs: Faq[] = faqCollection.map((faq) => ({
  question: faq.data.question,
  answer: faq.body,
}));
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto w-[90%] max-w-screen-sm py-8">
    <h1 class="text-3xl font-black text-center mb-8">FAQ</h1>
    <CardList faqs={faqs} client:load />
  </main>
</Layout>
